    </div>

    <!-- NGS Footer -->
    <footer class="ngs-footer">
      <div class="container-fluid text-center">
        <span class="ngs-footer-text">POWERED BY NGS - <script>document.write(new Date().getFullYear())</script></span>
      </div>
    </footer>

    </body>
</html>
