<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ASM-NG v${version}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ASM-NG - Attack Surface Management">
    <meta name="author" content="NGS">
    <link rel="icon" type="image/png" href="${docroot}/static/img/spiderfoot-icon.png">

    <script type='text/javascript' src='${docroot}/static/js/spiderfoot.js'></script>
    <script type='text/javascript' src='${docroot}/static/js/viz.js'></script>

    <link href="${docroot}/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="${docroot}/static/node_modules/tablesorter/dist/css/jquery.tablesorter.pager.min.css" rel="stylesheet">
    <link href="${docroot}/static/node_modules/alertifyjs/build/css/alertify.min.css" rel="stylesheet">

    <!-- Theme CSS - only load the one we need based on localStorage -->
    <script>
        // Synchronously write the correct theme stylesheet
        var isDark = localStorage.getItem("theme") === "dark-theme";
        var cssFile = isDark ? "dark.css" : "spiderfoot.css";
        var cacheBust = "?v=" + Date.now();
        document.write('<link id="theme-css" href="${docroot}/static/css/' + cssFile + cacheBust + '" rel="stylesheet">');
    </script>
    <noscript>
        <link href="${docroot}/static/css/spiderfoot.css" rel="stylesheet">
    </noscript>
  </head>

  <body>

<!-- ASM-NG Logo Banner (Video) -->
<div class="asm-ng-logo-container">
  <div class="asm-ng-logo-wrapper">
    <a href="${docroot}/">
      <video class="asm-ng-logo-video" autoplay loop muted playsinline>
        <source src="${docroot}/static/img/asm-ng-logo.mp4" type="video/mp4">
        <!-- Fallback to image if video not supported -->
        <img src="${docroot}/static/img/asm-ng-logo.png" alt="ASM-NG" class="asm-ng-logo" />
      </video>
    </a>
  </div>
</div>

<!-- ASM-NG Navigation Menu -->
<nav class="asm-ng-sidebar">
  <ul class="sidebar-nav">
    <li
% if pageid == "NEWSCAN":
    class="active"
% endif
    >
      <a id="nav-link-newscan" href="${docroot}/newscan">
        <i class="glyphicon glyphicon-screenshot nav-icon"></i>
        <span class="nav-text">New Scan</span>
      </a>
    </li>
    <li
% if pageid == "SCANLIST":
    class="active"
% endif
    >
      <a id="nav-link-scans" href="${docroot}/">
        <i class="glyphicon glyphicon-list nav-icon"></i>
        <span class="nav-text">Scans</span>
      </a>
    </li>
    <li
% if pageid == "WORKSPACES":
    class="active"
% endif
    >
      <a id="nav-link-workspaces" href="${docroot}/workspaces">
        <i class="glyphicon glyphicon-folder-open nav-icon"></i>
        <span class="nav-text">Workspaces</span>
      </a>
    </li>
    <li
% if pageid == "SETTINGS":
    class="active"
% endif
    >
      <a id="nav-link-settings" href="${docroot}/opts">
        <i class="glyphicon glyphicon-wrench nav-icon"></i>
        <span class="nav-text">Settings</span>
      </a>
    </li>
  </ul>

  <!-- Dark Mode Toggle -->
  <div class="sidebar-toggle-container">
    <label id="switcher4" class="switch">
      <input id="theme-toggler" class="theme-toggler" type="checkbox">
      <span class="slider round"></span>
    </label>
    <span id="toggler-text">Dark Mode</span>
  </div>
</nav>

    <!-- Placed at the end of the document so the pages load faster -->
    <script>var docroot = '${docroot}';</script>
    <script src="${docroot}/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="${docroot}/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="${docroot}/static/node_modules/alertifyjs/build/alertify.min.js"></script>
    <script src="${docroot}/static/node_modules/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src='${docroot}/static/node_modules/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js'></script>
    <script src='${docroot}/static/node_modules/tablesorter/dist/js/jquery.tablesorter.widgets.min.js'></script>
    <script src="${docroot}/static/node_modules/d3/d3.min.js"></script>
    <script type='text/javascript' hash="sha256-0kTZzWMEh3cdgCMVytlY1E8rg7oO13eyLa+kvyAhRmo=">sf.updateTooltips();</script>

    <div class="container" id="mainbody" style='padding-bottom: 50px'>

